@font-face {
    font-family: 'ABCFavoritEdu-Book';
    src: url('../fonts/ABCFavoritEdu-Book.woff') format('woff');
}

@font-face {
    font-family: 'ABCFavoritLiningEdu-Book';
    src: url('../fonts/ABCFavoritLiningEdu-Book.woff') format('woff');
}

/* generall settings */

html,
body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    background-color: white;
    overflow-x: hidden;
}

* {
    font-family: 'ABCFavoritEdu-Book';
    font-weight: normal;
    scrollbar-width: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

:root {
    --rkt-red: rgb(230, 48, 27);
    --border-thickness: 0.35vh;
    --header-footer-height-width: 6vh;
    --fadeIn-paged-speed: 0.2s;
    --transition-animation-general: 0.5s;
}

/* generall settings / Typefaces & Settings */

h1 {
    font-family: 'ABCFavoritEdu-Book';
    font-size: max(4.2vw, 60px);
    line-height: 1;
}

h2 {
    font-family: 'ABCFavoritLiningEdu-Book';
    font-size: 4vh;
}

h3 {
    font-family: 'ABCFavoritEdu-Book';
    font-size: 4vh;
}

p {
    font-size: 2.8vh;
    line-height: 1.2;
}

small {
    font-size: 2.2vh;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

button {
    height: calc(var(--header-footer-height-width)/2);
    font-size: 1.5vh;
    color: white;
    border: none;
    border-radius: none;
    background-color: black;
    cursor: pointer;
}

button:hover {
    border: var(--border-thickness) solid;
    background-color: white;
    color: black;
}

.helvetica {
    font-family: Arial, Helvetica, sans-serif;
}

/* Span */

.redText {
    color: var(--rkt-red);
}

.smallText p {
    font-size: 2.2vh;
    line-height: 1.4;
}

/* default */

/* default / Buttons */

.closeButton {
    position: relative;
    width: var(--header-footer-height-width);
    height: var(--header-footer-height-width);
    border-radius: 100%;
    top: 0;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, 0%) rotate(45deg);
    transition: var(--transition-animation-general);
}

.closeButton:hover {
    transform: translate(-50%, 0%) rotate(45deg) scale(1.2);
}

.Button-Linie-Vertikal,
.Button-Linie-Horizontal {
    position: relative;
    background-color: var(--rkt-red);
    left: 50%;
    width: 75%;
    height: var(--border-thickness);
}

.Button-Linie-Vertikal {
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.Button-Linie-Horizontal {
    top: 44%;
    transform: translate(-50%, -50%);
}

/* default / header */

.contactHeader,
.programmHeader,
.aboutHeader,
.crowdFoundingHeader {
    position: fixed;
    background: white;
    cursor: pointer;
}

.programmHeader {
    z-index: 10;
}

.aboutHeader {
    z-index: 20;
}

.crowdFoundingHeader {
    z-index: 35;
}

.contactHeader {
    z-index: 40;
}

.footer {
    position: fixed;
    background: white;
}

/* default / header / general */

.programmHeader p,
.aboutHeader p {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -40%);
    color: var(--rkt-red);
}

.contactHeader p,
.crowdFoundingHeader p {
    position: absolute;
    right: -25%;
    top: calc(var(--header-footer-height-width)/2);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: var(--rkt-red);
}

.crowdFoundingHeader p {
    color: white;
    transform: rotate(90);
    top: calc(var(--header-footer-height-width)/2);
    text-transform: uppercase;
}

/* default / header / Programm TL */

.programmHeader {
    border-bottom: var(--border-thickness) solid var(--rkt-red);
    border-right: var(--border-thickness) solid var(--rkt-red);
    height: var(--header-footer-height-width);
    top: 0;
    left: 0;
    width: 66.6666vw;
    transition: var(--fadeIn-paged-speed) ease-in-out;
}

.programmHeader.aboutOpen {
    width: calc(66.6666vw - var(--header-footer-height-width));
}

.programmHeader.contactOpen {
    width: 33.3333vw;
}

/* default / header / About TR */

.aboutHeader {
    border-bottom: var(--border-thickness) solid var(--rkt-red);
    border-left: var(--border-thickness) solid var(--rkt-red);
    height: var(--header-footer-height-width);
    left: 66.6666vw;
    top: 0;
    width: calc(33.3333vw - var(--header-footer-height-width));
    transition: var(--fadeIn-paged-speed) ease-in-out;
}

.aboutHeader.contactOpen {
    left: 33.3333vw;
    width: 33.3333vw;
}

/* default / header / Contact R */

.contactHeader,
.crowdFoundingHeader {
    border-left: var(--border-thickness) solid var(--rkt-red);
    border-bottom: none;
    width: var(--header-footer-height-width);
    top: 0;
    right: 0;
    height: 50%;
}

.crowdFoundingHeader {
    top: 50%;
    background-color: black;
    border-left: var(--border-thickness) solid black;
    border-top: var(--border-thickness) solid black;
}

.crowdFoundingHeader div {
    writing-mode: normal;
    transform: rotate(180deg);
}

/* default / footer */

.footer {
    border-top: var(--border-thickness) solid var(--rkt-red);
    height: var(--header-footer-height-width);
    bottom: 0;
    left: 0;
    width: calc(100vw - var(--header-footer-height-width));
    transition: var(--fadeIn-paged-speed) ease-in-out;
    z-index: 30;
}

.footer.contactOpen {
    width: 66.6666vw;
}

.footerLeft {
    width: 50%;
    height: 100%;
}

.footerRight {
    display: none;
    /*XXXXX*/
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    left: 50%;
}

.footerLeft p {
    position: absolute;
    top: 0%;
    transform: translate(30%, -40%);
    color: var(--rkt-red);
}

.footerRight p {
    position: absolute;
    right: 0;
    top: 0%;
    transform: translate(-60%, -40%);
    color: var(--rkt-red);
}

.logoRKTfooter {
    position: absolute;
    top: -1vh;
    height: 5vh;
    transform: translate(-50%, 0%);
    left: 50%;
}

.logoRKTfooter img {
    height: 100%;
}

/* default / background */

.homeBackgroundContainer,
.homeBackgroundText {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    user-select: none;
    -webkit-user-drag: none;
}

.homeBackgroundImages {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.homeBackgroundImages img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeBlackPic {
    z-index: 1;
}

.homeBlackPic.clicked {
    visibility: hidden;
}

.homeBackgroundText {
    color: black;
    text-shadow:
        -3px -3px 0 white,
        3px -3px 0 white,
        -3px 3px 0 white,
        3px 3px 0 white;
    z-index: 5;
}

.homeBackgroundText.clicked {
    color: var(--rkt-red);
}

.homeDatum {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.homeDatum h1 {
    font-size: 6vh;

}

.homeTitle {
    position: absolute;
    top: 10%;
    left: 3%;
}

.homeTitle h1 {
    font-family: 'ABCFavoritLiningEdu-Book';
    font-size: 6vh;
}

.homeSticker {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 5;
}

/* Pages */
/* Pages */
/* Pages */
/* Pages */

/* Containers (Animation) */

.programmContainer,
.aboutContainer,
.contactContainer {
    position: absolute;
    border-left: var(--border-thickness) solid var(--rkt-red);
    height: 100vh;
    background-color: white;
    transition: var(--fadeIn-paged-speed) ease-in-out;
}

.programmContainer {
    top: -100vh;
    border-left: none;
    border-right: var(--border-thickness) solid var(--rkt-red);
    width: calc(100vw - var(--header-footer-height-width));
    z-index: 11;
    height: calc(100vh - var(--header-footer-height-width));
}

.programmContainer.open {
    top: 0;
}

.programmContainer.contactOpen {
    width: 66.6666vw;
}

.programmContainer.aboutContactOpen {
    width: 33.3333vw;
}

.aboutContainer {
    top: -100vh;
    left: 66.6666vw;
    width: calc(33.3333vw - var(--header-footer-height-width));
    z-index: 21;
}

.aboutContainer.open {
    top: 0;
}

.aboutContainer.contactOpen {
    left: 33.3333vw;
    width: 33.3333vw;
}

.contactContainer {
    position: fixed;
    top: 0;
    right: calc(-33.3333vw - var(--border-thickness));
    height: 100vh;
    width: 33.3333vw;
    overflow: hidden;
    z-index: 41;
}

.contactContainer.open {
    right: 0;
    height: 100vh;
}

/* Close pages Container */

.closeAboutContainer,
.closeContactContainer,
.closeProgrammContainer,
.closeFoundingContainer {
    position: relative;
    width: 100%;
    height: var(--header-footer-height-width);
    z-index: 100;
}

.closeProgrammContainer {
    margin-bottom: calc((var(--header-footer-height-width) / 3));
    width: calc(100%);
    border-bottom: var(--border-thickness) solid var(--rkt-red);
    background-color: white;
}

.closeAboutContainer {
    border-bottom: var(--border-thickness) solid var(--rkt-red);
}

.closeContactContainer {
    position: relative;
    top: 0;
    border-bottom: var(--border-thickness) solid var(--rkt-red);
}

.closeFoundingContainer {
    top: 2vh;
    width: var(--header-footer-height-width);
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
}

.closeFoundingContainer div div {
    background-color: white;
}

/* Content Containers */

.programmContentContainer,
.aboutContentContainer,
.contactContentContainer {
    position: relative;
    overflow: scroll;
    padding-inline: calc(var(--header-footer-height-width)/2);
    margin-top: var(--header-footer-height-width);
}

.aboutContentContainer {
    top: 0;
    margin-top: 0;
    height: calc(100vh - var(--header-footer-height-width)/2*7);
}

.aboutAware {
    padding-bottom: 0px;
}

.programmContentContainer {
    top: calc(0vh - var(--header-footer-height-width));
    padding-top: calc(var(--header-footer-height-width)*3);
    height: calc(100vh - var(--header-footer-height-width)*4);
    padding-inline: 0;
    overflow-x: hidden;
}

.contactContentContainer {
    position: relative;
    top: 0;
    padding-top: var(--header-footer-height-width);
    padding-bottom: var(--header-footer-height-width);
    margin-top: 0;
    height: calc(100vh - var(--header-footer-height-width)*3);
    overflow: auto;
}

.contactVerein p {
    margin-top: -25px;
}

/* Programm Page */

/* Programm Page / Filter */

.programmContainerHeader {
    position: absolute;
    width: 66.6666vw;
    top: 0;
    z-index: 110;
    line-height: 4.2vh;
    text-align: center;
    transition: var(--fadeIn-paged-speed) ease-in-out;
    left: 0;
}

.programmContainerHeader button {
    height: calc(var(--header-footer-height-width)/2);
    font-size: 2vh;
    padding-inline: 10px;
    height: auto;
    background-color: white;
    color: black;
    border: var(--border-thickness) solid black;
}

.programmContainerHeader button:hover {
    background-color: black;
}

.programmContainerHeader.open {
    position: absolute;
    width: 33.3333vw;
}

.filterButtonsContainer {
    display: block;
    width: 100%;
}

.filterButtonsContainer button:hover {
    color: white;
}

.closeFilterMenue {
    display: none;
}

.toggleFilterMenue {
    display: none;
}

/* Programm Page / Programm */

.programmDatum {
    text-align: center;
    background-color: black;
    color: white;
    height: calc(var(--header-footer-height-width));
    border-bottom: var(--border-thickness) solid var(--rkt-red);
}

.programmDatum h3 {
    position: absolute;
    transform: translate(-50%, -70%);
    left: 50%;
}

.programmTag {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--border-thickness);
}

.programmTag.contactOpen {
    grid-template-columns: repeat(3, 1fr);
}

.programmTag.aboutContactOpen {
    grid-template-columns: repeat(2, 1fr);
}

.programmPunkt {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    border: var(--border-thickness) solid var(--rkt-red);
    border-top: 0;
}

.programmCoverImage {
    position: relative;
    width: 100%;
    height: auto
        /*calc(var(--header-footer-height-width)*3)*/
    ;
    /*max-height: 33vh;*/
}

.programmCoverImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.programmCoverImagePlaceholder {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}

.programmPunkt h2 {
    color: black;
    font-family: 'ABCFavoritEdu-Book';
    line-height: 1.1;
    padding-inline: 1vw;
}

.programmPunkt h3 {
    font-size: 2.5vh;
    color: var(--rkt-red);
    line-height: 1;
    padding-inline: 1vw;
}

.programmPunkt a {
    cursor: help;
    color: var(--rkt-red);
    font-family: 'ABCFavoritLiningEdu-Book';
}

.programmPunkt button {
    margin-bottom: calc(var(--header-footer-height-width)/2);
    border: none;
    background-color: black;
    width: 50%;
    transition: var(--transition-animation-general);
    cursor: pointer;
}

.programmPunkt button:hover {
    color: white;
    border: none;
    background-color: black;
    width: 80%;
}

.programmInfoContainer {
    position: absolute;
    display: none;
    height: calc(100% - var(--header-footer-height-width));
    width: calc(100% - var(--header-footer-height-width));
    top: calc(var(--header-footer-height-width)/4);
    left: calc(var(--header-footer-height-width)/4);
    background-color: black;
    color: white;
    border-radius: 10px;
    border: calc(var(--border-thickness)*5) solid black;
    cursor: zoom-out;
}

.programmInfoContainer.visible {
    display: block;
}

.programmInfoText {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    margin-top: 0;
    bottom: 0;
    overflow: auto;
    line-height: 1.2;
    text-align: left;
}

.bildCopyright {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding-inline: 5px;
    font-size: 0.8rem;
    color: black;
}

/* About Page */

.aboutNavi {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}

.aboutNavi div {
    padding-inline: calc(var(--header-footer-height-width)/2);
    height: calc(var(--header-footer-height-width)/3*2);
    border-bottom: var(--border-thickness) solid var(--rkt-red);
    border-right: var(--border-thickness) solid var(--rkt-red);
    width: auto;
    cursor: pointer;
    color: var(--rkt-red);
}

.aboutNavi div:hover {
    background-color: var(--rkt-red);
    color: white;
    text-decoration: none;
}

.aboutNavi small {
    position: absolute;
    transform: translate(-50%, 10%);
}

.aboutInfoAllgemein {
    color: var(--rkt-red);
}

.infoLogoContainer {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
}

.infoLogoContainer img {
    width: 100%;
    height: auto;
}

/* Contact Page */

.contactContentContainer div {
    margin-bottom: calc(var(--header-footer-height-width)/2);
}

.contactFunding {
    padding-left: calc(var(--header-footer-height-width)/3);
}

.newsletterForm {
    display: grid;
}

.contactNewsletter input {
    position: relative;
    font-size: 2.2vh;
    margin-bottom: 0;
    height: calc(var(--header-footer-height-width)/4*3);
    border: var(--border-thickness) solid;
    text-align: left;
    outline: none;
    padding-inline: 2vh;
    width: calc(100% - var(--header-footer-height-width)/5*4);
}

.inf-form input::placeholder {
    font-size: 2.2vh;
    color: hsla(0, 0%, 0%, 0.25);
    cursor: text;
}

.inf-content small {
    font-size: 1.7vh;
    line-height: 1;
}

.contactNewsletter a {
    color: black;
    font-size: 1.7vh;
}

.inf-content button {
    text-align: left;
    font-size: 2.2vh;
    padding-inline: 2vh;
    height: calc(var(--header-footer-height-width));
    width: 100%;
    margin-bottom: 10px;
    margin-top: -25px;
}

.inf-content button:focus {
    border-color: var(--rkt-red);
}

.newsletterForm input:focus {
    border-color: var(--rkt-red);
}

.contactMail button {
    height: calc(var(--header-footer-height-width));
    width: 100%;
    text-align: left;
    padding-inline: 2vh;
    font-size: 2.2vh;
}

.crowdfoundingSticker {
    position: relative;
    width: calc(var(--header-footer-height-width)*4);
    height: calc(var(--header-footer-height-width)*4);
    top: 0;
    background-color: black;
    border-radius: 200px;
    cursor: pointer;
    transform: rotate(10deg);
    transition: var(--transition-animation-general);
}

.crowdfoundingSticker:hover {
    transform: rotate(25deg);
}

.crowdfoundingSticker a:hover {
    font-style: normal;
}

.crowdfoundingSticker h2,
.crowdfoundingSticker p {
    position: absolute;
    color: white;
    text-align: center;
    top: 2%;
    line-height: 1;
}

/* Crowdfounding Page */

.crowdFoundingContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
    background-color: hsla(0, 0%, 100%, 0.0);
    backdrop-filter: blur(0px);
    transition: var(--fadeIn-paged-speed) ease-in-out;
}

.crowdFoundingContainer.open {
    background-color: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(12px);

}

.crowdFoundingBackground {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: -100vh;
    left: calc(var(--header-footer-height-width)/2);
    width: calc(100vw - var(--header-footer-height-width));
    height: 100vh;
    transition: var(--fadeIn-paged-speed) ease-in-out;
}

.crowdFoundingCampagne,
.crowdFoundingVideo,
.crowdFoundingText {
    padding-inline: 2vw;
    overflow: auto;
}

.crowdFoundingText {
    background-color: black;
}

.crowdFoundingBackground.open {
    top: 0;
}

.crowdFoundingText h2,
.crowdFoundingText p,
.crowdFoundingText small {
    text-align: center;
    color: white;
    padding-top: calc(var(--header-footer-height-width)/2);
}

.crowdFoundingText p {
    padding-top: 0;
    text-align: left;
}

.crowdFoundingText small {
    line-height: 1.2;
}

/* Crowdfounding Layout */

.campaignContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 30px;
    margin-bottom: var(--header-footer-height-width);
    text-align: left;
}

.campaignContainer h3 {
    color: black;
}

.goal-amount,
.start-date,
.end-date,
.nr-backers {
    font-size: 2.4vh;
    margin-bottom: var(--header-footer-height-width);
    color: black;
}

.remaining-days {
    font-size: 2.4vh;
    margin-top: var(--header-footer-height-width);
    color: black;
}

.container-progress {
    height: 25vh;
    width: 100%;
    margin: 0;
    display: flex;
}

.container-progress {
    display: grid;
    grid-template-columns: 8% 80%;
    gap: 0px 4%;
}

.container-left {
    height: 100%;
    background-color: black;
    border: var(--border-thickness) solid black;
    left: 0;
}

.container-right {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 26%;
    grid-auto-flow: row;
    grid-template-areas:
        "Moped"
        "Altes-Wohnmobil"
        "Punkrock-Studiobus"
        "Fancy-Traumbus";
}

.Moped {
    grid-area: Moped;
    position: relative;
}

.Altes-Wohnmobil {
    grid-area: Altes-Wohnmobil;
    position: relative;
}

.Punkrock-Studiobus {
    grid-area: Punkrock-Studiobus;
    position: relative;
}

.Fancy-Traumbus {
    grid-area: Fancy-Traumbus;
    position: relative;
}

.targetMoney {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 2vh;
    color: black;
}

.targetObject {
    width: 100%;
    font-size: 1.2vw;
    line-height: 1.2;
    color: black;
}

#progress {
    width: 100%;
    height: 20%;
    background-color: white;
}

.progress-text {
    font-size: 2vh;
    margin-left: 0;
    color: black;
}

#rewards {
    display: none;
    position: relative;
    font-size: 1.5vh;
    height: calc(var(--header-footer-height-width)/2);
    background-color: black;
    color: white;
    border: var(--border-thickness) solid black;
    transition: var(--transition-animation-general);
    width: auto;
    padding-inline: 20px;
}

#rewards:hover {
    width: auto;
    border: var(--border-thickness) solid black;
    color: black;
    background-color: white;
}

.contributions {
    margin-top: calc(var(--header-footer-height-width)/2);
    margin-bottom: calc(var(--header-footer-height-width)/2);
}

.contributions h2 {
    font-size: 2vh;
    margin-bottom: var(--header-footer-height-width);
}

.contributions form {
    display: flex;
    flex-direction: column;
}

.contributions label {
    font-size: 2vh;
    margin-bottom: 10px;
    color: black;
}

.contributions input[type="number"] {
    font-size: 2vh;
    height: calc(var(--header-footer-height-width)/3*2);
    border: var(--border-thickness) solid black;
    width: 90%;
    outline: none;
    margin-top: 1vh;
    padding-inline: 1vw;
    border-radius: 0;
}

.contributions input::placeholder {
    font-size: 2vh;
    color: hsla(0, 0%, 0%, 0.5);
    cursor: text;
}

.contributions button:focus {
    border-color: var(--rkt-red);
}

.suggested-amounts {
    position: relative;
    left: 0px;
}

.currency-symbol {
    color: black;
}

.suggested-amounts p {
    font-size: 2vh;
    margin-bottom: calc(var(--header-footer-height-width)/2);
    color: black;
}

.suggested-amounts ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0px;
}

.suggested-amounts li {
    margin: 0 10px;
    height: auto;
    padding: 10px;
    border: var(--border-thickness) solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: var(--transition-animation-general);
}

.suggested-amounts:focus {
    border: var(--border-thickness) solid black;
}

.suggested-amounts li:hover {
    background-color: black;
    color: white;
}

.contributions button[type="submit"] {
    font-size: 2vh;
    margin-bottom: calc(var(--header-footer-height-width)/2);
    height: calc(var(--header-footer-height-width)/3*2);
    background-color: white;
    width: 50%;
    color: black;
    border: var(--border-thickness) solid black;
    cursor: pointer;
    transition: var(--transition-animation-general);
}

.contributions button:hover {
    width: 95%;
    transform: translate(0%);
    background-color: black;
    color: white;
}

/*.container {
    display: flex;
}

.column1 {
    flex: 2;
    padding: 20px;
}

.column2 {
    flex: 1;
    padding: 20px;
}*/

.goodiesWrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    width: 32%;
}

#goodies-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: var(--border-thickness);
}

.goodie {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 20px;
    margin-bottom: var(--border-thickness);
    background-color: white;
    display: block;
}

.goodie p {
    font-size: 1.5vw;
}

.goodie small {
    font-size: 1.3vw;
    color: var(--rkt-red);
}

.goodie-limit {
    position: absolute;
    font-size: 1.3vw;
    color: var(--rkt-red);
    text-align: right;
    width: 100%;
    left: 0%;
    transform: translate(-25px, -50px);
}

.goodie-size {
    width: auto;
    font-size: 1vw;
    background-color: white;
    color: black;
    border: var(--border-thickness) solid black;
    padding-inline: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 0;
}

.goodie-image {
    position: relative;
    width: 60%;
    padding-right: 40%;
    height: auto;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.goodie-button {
    font-size: 1.2vw;
    width: 100%;
    border: var(--border-thickness) solid black;
    color: black;
    cursor: pointer;
    background-color: white;
    transition: var(--transition-animation-general);
    height: calc(var(--header-footer-height-width)/3*2);
}

.goodie-button:hover {
    width: 100%;
    background-color: white;
    border: var(--border-thickness) solid black;
    color: white;
}

#goto-top {
    display: none;
    font-size: 2vh;
    margin-bottom: var(--header-footer-height-width);
    padding-inline: 10px;
    border: var(--border-thickness) solid black;
    background-color: white;
    height: var(--header-footer-height-width);
    color: black;
    cursor: pointer;
    transition: var(--transition-animation-general);
    width: 100%;
}

#goto-top:hover {
    border: var(--border-thickness) solid white;
    background-color: black;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 0% auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 100%;
}

.close {
    color: #aaaaaa;
    float: right;
    padding-right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.selected {
    border: var(--border-thickness) solid gray !important;
}


/* Breakpoints */
/* Breakpoints */
/* Breakpoints */
/* Breakpoints */

@media (max-width: 2200px) {
    .programmTag.aboutContactOpen {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1700px) {
    .programmTag {
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--border-thickness);
    }

    .programmTag.contactOpen {
        grid-template-columns: repeat(2, 1fr);
    }

    .programmTag.aboutContactOpen {
        grid-template-columns: repeat(1, 1fr);
    }

    .crowdFoundingBackground {
        grid-template-columns: repeat(2, 1fr);
    }

    .goodiesWrapper {
        position: relative;
        right: 0;
        top: 0;
        height: auto;
        overflow: none;
        width: 100%;
    }

    .targetMoney {
        font-size: 2vh;
        color: black;
    }

    .targetObject {
        font-size: 1.8vw;
    }

    #goodies-container {
        display: none;
        grid-template-columns: repeat(1, 1fr);
    }

    #rewards {
        display: block;
        font-size: 2vh;
        height: var(--header-footer-height-width);
    }

    .goodie p {
        font-size: 2vw;
    }

    .goodie-button {
        font-size: 1.5vw;
    }

    .goodie small {
        font-size: 1.5vw;
    }

    .price {
        font-size: 2.5vw;
    }

    .goodie-limit {
        font-size: 1.5vw;
    }

}

@media (max-width: 1150px) {
    .programmTag {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 992px) {

    .crowdFoundingBackground {
        grid-template-columns: repeat(1, 1fr);
    }

    .programmTag.contactOpen {
        grid-template-columns: repeat(1, 1fr);
    }

    .crowdFoundingContainer {
        overflow: auto;
    }

    .crowdFoundingBackground {
        position: absolute;
        display: grid;
        top: -100vh;
        height: auto;
        overflow: hidden;
        transition: var(--fadeIn-paged-speed) ease-in-out;
    }

    .crowdFoundingCampagne,
    .crowdFoundingVideo,
    .crowdFoundingText {
        padding-inline: 5vw;
        overflow: auto;
    }

    .closeFoundingContainer {
        position: absolute;
    }

    .closeFoundingContainer div div {
        background-color: black;
    }

    .campaignContainer {
        margin-top: var(--header-footer-height-width);
    }

    #goto-top {
        display: block;
    }

    #goodies-container {
        display: none;
        grid-template-columns: repeat(1, 1fr);
    }

    .targetObject {
        font-size: 2.4vh;
    }

    .aboutNavi {
        grid-template-columns: auto;
    }

    .aboutContentContainer {
        height: calc(100vh - var(--header-footer-height-width)/2*10);
    }

    .goodie p {
        font-size: 3vw;
    }

    .goodie small {
        font-size: 2.3vw;
    }

    .goodie-button {
        font-size: 2.3vw;
    }

    .goodie-size {
        font-size: 2vw;
    }

    .goodie-limit {
        font-size: 2.3vw;
        transform: translate(-20px, -40px);
    }
}


@media (max-width: 900px) {

    html,
    body {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }

    /* generall settings */

    :root {
        --header-footer-height-width: 50px;
    }

    /* generall settings / Typefaces & Settings */

    h1 {
        font-size: min(6rem, 50px);
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.2;
    }

    small {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    a:hover {
        font-style: normal;
    }

    .programmHeader {
        z-index: 10;
    }

    .aboutHeader {
        z-index: 20;
    }

    .crowdFoundingHeader {
        z-index: 35;
    }

    .contactHeader {
        z-index: 40;
    }

    /* Span */

    .smallText p {
        font-size: 1rem;
        line-height: 1.2;
    }

    /* default / header / Programm TL */

    .programmHeader,
    .programmHeader.aboutOpen,
    .programmHeader.contactOpen {
        width: 50%;
    }

    /* default / header / About TR */

    .aboutHeader,
    .aboutHeader.contactOpen {
        left: 50%;
        width: calc(50% - var(--header-footer-height-width));
    }

    /* default / footer */

    .footer {
        width: 100%;
        z-index: 100;
    }

    .footer.contactOpen {
        width: 100%;
    }

    .footerLeft p,
    .footerRight p {
        top: -5%;
    }

    .logoRKTfooter {
        top: -1.3vh;
    }

    /* default / header / general */

    .programmHeader p,
    .aboutHeader p {
        transform: translate(-50%, -40%);
    }

    .contactHeader p,
    .crowdFoundingHeader p {
        right: -25%;
    }

    /* default / background */

    .homeBackgroundContainer {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .homeBackgroundImages img {
        position: relative;
        height: 50%;
    }

    .homeDatum {
        transform: translate(-50%, -50%);
    }

    .homeDatum h1 {
        font-size: 10vw;
    }

    .homeTitle {
        top: calc(var(--header-footer-height-width));
        left: calc(var(--header-footer-height-width) / 2);
    }

    .homeTitle h1 {
        font-size: 10vw;
    }

    .homeSticker {
        position: absolute;
        bottom: calc(var(--header-footer-height-width)*1.5);
        left: calc(var(--header-footer-height-width) / 3);
        z-index: 5;
    }

    /* Pages */
    /* Pages */
    /* Pages */
    /* Pages */

    .programmContainer,
    .aboutContainer,
    .contactContainer {
        height: 100%;
    }

    /* Containers (Animation) */

    .programmContainer {
        top: -100%;
        z-index: 11;
    }

    .programmContainer.open {
        top: 0;
    }

    .programmContainer.contactOpen {
        width: calc(100% - var(--header-footer-height-width));
    }

    .programmContainer.aboutContactOpen {
        width: calc(100% - var(--header-footer-height-width));
    }

    .aboutContainer {
        left: 0;
        width: calc(100% - var(--header-footer-height-width));
        border-left: none;
        height: 100%;
        top: -100%;
    }

    .aboutContainer.open {
        top: 0;
    }

    .aboutContainer.contactOpen {
        left: 0;
        width: calc(100% - var(--header-footer-height-width));
    }

    .contactContainer {
        right: calc(-100% - var(--border-thickness));
        height: 100%;
        width: 100%;
    }

    .contactContainer.open {
        height: 100%;
    }

    /* Close pages Container */

    .closeProgrammContainer {
        width: calc(50% + 50px);
        margin-bottom: calc((var(--header-footer-height-width) / 4));
        left: -25px;
    }

    /* Programm Page */

    .programmContainerHeader {
        width: calc(100% - 50px);
        left: 25px;
    }

    .programmContainerHeader.open {
        width: calc(100% - 50px);
        left: 25px;
    }

    .programmDatum {
        color: white;
        background-color: black;
        height: calc(var(--header-footer-height-width));
    }

    .programmDatum h3 {
        transform: translate(-50%, -65%);
    }

    .programmTag {
        grid-template-columns: repeat(1, 1fr);
    }

    .programmTag.contactOpen {
        grid-template-columns: repeat(1, 1fr);
    }

    .programmTag.aboutContactOpen {
        grid-template-columns: repeat(1, 1fr);
    }

    .programmCoverImage {
        width: 100%;
        height: auto
            /*33vh*/
        ;
    }

    .programmPunkt button {
        margin-bottom: var(--header-footer-height-width);
        background-color: black;
        transition: var(--transition-animation-general);
    }

    .programmPunkt button:hover {
        width: 50%;
    }

    .programmPunkt h3 {
        font-size: 1.3rem;
    }

    .programmInfoContainer {
        height: 90%;
        width: 85%;
    }

    /* .closeProgrammInfo h3 {
        color: white;
        position: absolute;
        top: -150%;
        left: 15%;
    } */

    .programmInfoText p {
        line-height: 1.3;
    }

    .programmContentContainer {
        padding-top: calc(var(--header-footer-height-width) * 4);
        height: calc(100% - var(--header-footer-height-width) * 5);
    }

    .filterButtonsContainer {
        display: none;
        background-color: white;
        padding-top: 0px;
        padding-bottom: 10px;
        border: var(--border-thickness) solid black;
    }

    .toggleFilterMenue {
        position: fixed;
        width: calc(100% - var(--header-footer-height-width) * 2);
        display: block;
        background-color: white;
        color: black;
        height: 30px;
        border: var(--border-thickness) solid black;
        cursor: pointer;
    }

    .toggleFilterMenue:hover {
        background-color: black;
        color: white;
    }

    .toggleFilterMenue span {
        position: absolute;
        font-size: min(4.5vw, 18px);

        line-height: 0;
        top: 50%;
        transform: translate(-50%, 50%);
    }

    .closeFilterMenue {
        position: relative;
        width: 100%;
        display: block;
        background-color: white;
        margin-bottom: 10px;
        height: 30px;
        border-bottom: var(--border-thickness) solid black;
        cursor: pointer;
    }

    .closeFilterMenue span {
        position: absolute;
        font-size: 2rem;
        line-height: 0;
        top: 40%;
        transform: translate(-50%, 50%);
    }

    /* About Page */

    .aboutContentContainer {
        height: calc(100% - var(--header-footer-height-width) * 3);
    }

    .aboutAware {
        padding-bottom: 50px;
    }

    .aboutNavi {
        grid-template-columns: auto auto;
    }

    .aboutNavi div {
        height: calc(var(--header-footer-height-width) / 3 * 2);
        border-bottom: var(--border-thickness) solid var(--rkt-red);
        border-right: var(--border-thickness) solid var(--rkt-red);
        width: auto;
        cursor: pointer;
        color: var(--rkt-red);
    }

    .aboutNavi div:hover {
        background-color: white;
        color: var(--rkt-red);
    }

    .aboutNavi small {
        transform: translate(-50%, 10%);
    }

    /* Contact Page */

    .contactContentContainer {
        height: calc(100% - var(--header-footer-height-width)*4);
    }

    .newsletterForm input {
        height: calc(var(--header-footer-height-width));
        padding-inline: 3vw;
    }

    .newsletterForm input::placeholder {
        font-size: 2vh;
    }

    .newsletterForm button {
        padding-inline: 3vw;
        height: calc(var(--header-footer-height-width));
        font-size: 2vh;
    }

    .contactMail button {
        height: calc(var(--header-footer-height-width));
        padding-inline: 3vw;
        font-size: 2vh;
    }

    .crowdfoundingSticker {
        width: calc(var(--header-footer-height-width) * 2.3);
        height: calc(var(--header-footer-height-width) * 2.3);
    }

    .crowdfoundingSticker:hover {
        transform: rotate(10deg);

    }

    .crowdfoundingSticker h2,
    .crowdfoundingSticker p {
        line-height: 1.2;
    }

    .crowdfoundingSticker h2 {
        font-size: 1.1rem;
    }

    .crowdfoundingSticker span {
        font-size: 1.2rem;
    }

    .contactNewsletter input {
        width: calc(100% - 44px);
    }

    /* Crowdfounding Page */

    .crowdFoundingText {
        background-color: black;
    }

    .crowdFoundingBackground.open {
        top: 0;
    }

    .crowdfoundingContainer {
        overflow: auto;
        padding-inline: var(--header-footer-height-width);
    }

    .crowdFoundingBackground h2,
    .crowdFoundingBackground p {
        padding-top: var(--header-footer-height-width);
    }

    .crowdFoundingBackground h2 {
        font-size: 7.5vw;
        padding-top: calc(var(--header-footer-height-width)/2*3);
    }

    .crowdFoundingBackground p {
        padding-top: 0;
        text-align: left;
    }

    .campaignContainer {
        margin-top: var(--header-footer-height-width);
    }

    #goodies-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .goodie p {
        font-size: 4vw;
    }

    .goodie-button {
        font-size: 0.8rem;
        width: 100%;
        height: calc(var(--header-footer-height-width));
    }

    .goodie small {
        font-size: 3.5vw;
    }

    .goodie-size {
        font-size: 3vw;
    }

    .goodie-image {
        width: 50%;
        padding-right: 50%;
    }

    .price {
        font-size: 1.5rem;
    }

    .goodie-limit {
        font-size: 1.3rem;
        transform: translate(-20px, -40px);
    }

    .closeFoundingContainer div div {
        background-color: black;
    }

    /* Crowdfounding Layout */

    .container-progress {
        grid-template-columns: 12% 80%;
    }

    .targetMoney {
        font-size: 1.8vh;
    }

    .contributions h2 {
        font-size: 2.4vh;
        margin-bottom: var(--header-footer-height-width);
    }

    .contributions label {
        font-size: 2.4vh;
    }

    .contributions input[type="number"] {
        font-size: 2.4vh;
        height: calc(var(--header-footer-height-width));
        padding-inline: 3vw;
    }

    .contributions input::placeholder {
        font-size: 2.4vh;
    }

    .contributions button:focus {
        border-color: var(--rkt-red);
    }

    .suggested-amounts p {
        font-size: 2.4vh;
        margin-bottom: calc(var(--header-footer-height-width));
    }

    .suggested-amounts li {
        margin: 0 1vw;
        height: auto;
        padding-inline: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 1.2;
    }

    .contributions button[type="submit"] {
        font-size: 2.4vh;
        height: var(--header-footer-height-width);
        background-color: white;
        width: 100%;
        color: black;
    }

    .contributions button:hover {
        width: 100%;
    }

}

@media (max-width: 400px) {
    .goodie-limit {
        font-size: 0.7rem;
        transform: translate(-20px, -30px);
    }
}